*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.header{
    width: 100%;
    height: 100vh;
    background: #050b33;
    color: #fff;
    padding: 0 8.5%;
    position: inherit;
}
img 
{
    height: 40%;
    width: 30%;
    position: inherit;
    top: 0;
    left: 0;
    
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0 10px;        
}
.logo{
    width: 120px;
    cursor: pointer;
}
nav ul{
    flex:1;
    text-align: right;
    padding-right: 40px;
}
nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: yellow;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
}
nav ul li a:hover{
    color: white;
}

.textbox{
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}
.textbox h1{
    font-size: 70px;
    line-height: 160px;
}
.textbox a{
    margin-top: 30px;
    display: inline-block;
    border-radius: 20%;
    border: 2px solid yellow;
    color: yellow;
    padding: 10px 30px ;
    text-decoration: none;
}
.textbox .btn{
    background: yellow;
    color:black;
    margin-left: 30px;
    font-weight: 600;
}
 .person{
    height: 500px;
    width: 300px;
    position: absolute;
    left: 72%;
    top: 20%;   
}
span{
    color: yellow;
}